<header class="masthead">
<link href="/assets/stylesheets/base/layout.scss" rel="stylesheet">
    <nav class="laguage-nav">
        <ul>
            <li><a id="underline-bold" href="#">CSS</a></li>
            <li><a id="underline" href="#">HTML</a></li>
            <li><a id="underline" href="#">JavaScript</a></li>
            <li><a id="underline" href="#">Ruby</a></li>
        </ul>
    </nav>

    <img src="assets/AA_Times_Logo.png">

    <nav class="masthead-links">
        <ul>
            <li><a href="#">Tuesday, October 18, 2016</a></li>
            <li><a  id="underline" href="#">Today’s Paper</a></li>
            <li><a  id="underline" href="#">Video</a></li>
            <li><a  id="degree-stock" href="#">77°F</a></li>
            <li><a  id="degree-stock" href="#">AAO +100%</a></li>
        </ul>
    </nav>
</header>