<header class="sections_nav">
    <ul>
        <li><a id="menu" href="#">World</a></li>
        <li><a id="menu" href="#">San Francisco</a></li>
        <li><a id="menu" href="#">New York</a></li>
        <li><a id="menu" href="#">Bootcamp Prep</a></li>
        <li><a id="menu" href="#">Jumpstart</a></li>
        <li><a id="menu" href="#">Online</a></li>
        <li><a id="menu" href="#">Marketing</a></li>
        <li><a id="menu" href="#">Sales</a></li>
        <li><a id="menu" href="#">TalentMatch</a></li>
        <li><a id="menu" href="#">Alumni</a></li>
        <li><a id="menu" href="#">All</a></li>
    </ul>
</header>